{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
 <link rel="stylesheet" type="text/css" href="{% static 'Login/styleLogin.css' %}">


</head>
<body>

<div class="formulaire">
     <center>
<form action="">
    <legend style="text-align: center;"><img width="100px" src="../../static/Login/Original.ico"> <br>
       <b><font color="#3b43bd" size="20px">Salari</font>
        <font color="#4cdd5f" size="20px">App </font></b> <br>
        <font size="2px">Gérer les salaires de vos employés avec SalariApp</font></h1>
    </legend>

    <br><input type="text" name="Nom" placeholder="Nom de L'entreprise" required="">
    <br><input type="password" name="Mot de passe" placeholder="Mot de passe" required="">

     <br><a href="#"><font color = "white" size="2px"> Mot de Passe oublié ?</font></a>

    <br><br> <input type="submit" value="Connexion">

    <hr width="300px">
   <input type="Google" src="" value="Continuer avec Google" >

  </form>


     </center>
</div>

</body>
</html>